:root {
    --clr-pri: rgb(50, 50, 60);
    --clr-sec: rgb(213, 116, 75);
    --clr-sec-shadow: rgb(213, 116, 75, 0.5);
    --clr-sec-dark: rgb(199, 104, 63);
    --clr-error: crimson;
    --clr-valid: green;
    --clr-text-dark: rgb(30, 30, 30);
    --clr-text-light: rgb(225, 225, 225);
    --clr-grey: rgb(128, 128, 128);
    --clr-grey-light: rgb(200, 200, 200);
    --clr-grey-dark: rgb(110, 110, 110);
    --splash-height: ; /* see javascript */
    --pageInfo-horizontalSpace: 3rem;
    font-size: 62.5%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media only screen and (min-width: 900px) {
    :root {
        --pageInfo-horizontalSpace: 5rem;
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
}
body {
    height: 100%;
    width: 100%;
    font-size: 2.5rem;
    background: var(--clr-pri);
}

@media only screen and (min-width: 900px) {
    .page-container {
        display: flex;
        align-items: stretch;
    }
}
/* --- SPLASH START --- */
.splash {
    position: relative;
    width: 100%;
    height: var(--splash-height);
    background: url("/images/galaxy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--clr-text-light);
}
@media only screen and (min-width: 900px) {
    .splash {
        width: clamp(30rem, 38%, 60rem);
        flex-shrink: 0;
    }
}
.splash-banner {
    position: relative;
    top: 25%;
    width: 100%;
    height: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(22, 22, 22, 0.5);
}
.splash-title {
    font-size: 7rem;
    font-family: "Libre Barcode 39 Extended Text", cursive;
    font-weight: lighter;
    /* font-family: "Londrina Outline", cursive; */
    /* font-family: "MuseoModerno", cursive; */
}
.credit {
    position: absolute;
    margin-left: 2rem;
    bottom: 2rem;
    font-size: 1.4rem;
    color: var(--clr-grey-light);
}
.credit-form {
    margin-top: 0.5rem;
}
/* --- SPLASH END --- */

/* --- INTRO START --- */
.pageInfo-container {
    width: 100%;
    color: var(--clr-text-light);
}
.intro-container {
    margin: 4rem var(--pageInfo-horizontalSpace);
}
.intro:not(:last-child) {
    margin-bottom: 2rem;
}
.intro:last-child {
    margin-bottom: 4rem;
}
.intro {
    max-width: 55ch;
}
/* --- INTRO END --- */

/* --- FORM START --- */
.form {
    padding: 1.6rem var(--pageInfo-horizontalSpace);
    background: white;
    color: var(--clr-text-dark);
}
.form-intro {
    margin-bottom: 1.6rem;
}
.form-inputsContainer {
    width: min(100%, 65rem);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.3rem;
}
@media only screen and (min-width: 600px) {
    .form-inputsContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}
.form-inputGroup {
    width: min-content;
    display: flex;
    flex-direction: column;
}
.form-label {
    margin-bottom: 0.3rem;
    display: block;
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
    font-weight: bold;
}
.form-input {
    padding: 0.75rem 0.75rem;
    border: 1px solid var(--clr-grey-light);
    border-radius: 0.7rem;
    font-size: 2rem;
    letter-spacing: 0.1rem;
}
.form-input:focus {
    box-shadow: 3px 3px 5px 1px var(--clr-grey-light);
}
.form-inputGroup-invalid > .form-input {
    border-color: var(--clr-error);
}
.form-zip {
    width: 9rem;
}
.form-zip + .form-errorText {
    width: max-content;
}
.form-errorText,
.form-passwordReq {
    position: relative;
    margin-top: 0.4rem;
    margin-left: 2rem;
    display: block;
    font-size: 1.4rem;
}
.form-errorText {
    color: var(--clr-error);
    visibility: hidden;
}
.form-errorText:not(.req-special) {
    width: max-content;
}
.form-inputGroup-invalid > .form-errorText {
    visibility: visible;
}
.form-passwordReq {
    color: var(--clr-grey);
    visibility: visible;
}
.form-password + .form-passwordReq {
    margin-left: 0;
}
.form-errorText:not(.form-password + .form-passwordReq)::before,
.form-passwordReq:not(.form-password + .form-passwordReq)::before {
    content: "x";
    position: absolute;
    left: -2rem;
}
.form-inputGroup-invalid > .form-passwordReq:not(.form-passwordReq-valid) {
    color: var(--clr-error);
}
.form-passwordReq-valid {
    color: var(--clr-valid);
}
.form-passwordReq-valid.form-passwordReq:not(.form-password + .form-passwordReq)::before {
    content: "✔";
}
/* --- FORM END --- */

/* --- SUBMIT START --- */
.submit-container {
    margin: 2rem var(--pageInfo-horizontalSpace);
}
.submit-submitButton {
    margin: 1rem 0 1.4rem 0;
    height: 7rem;
    width: calc(14ch + 10rem);
    border: none;
    border-radius: 1rem;
    font-size: 1.8rem;
    font-weight: bold;
    cursor: pointer;
    background: var(--clr-sec);
    box-shadow: 3px 3px 5px 1px var(--clr-sec-shadow);
    color: var(--clr-text-light);
}
@media only screen and (hover: hover) {
    .submit-submitButton:hover {
        background: var(--clr-sec-dark);
        box-shadow: none;
        color: var(--clr-text-light);
    }
}
.submit-loginText {
    font-size: 1.6rem;
}
.submit-loginLink {
    margin-left: 1rem;
}
/* --- SUBMIT END --- */
